#form-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    margin: auto;
    padding: 20px;
    background: #fff;
}

h1 {
    text-align: center;
}

input[type="password"],
input[type="text"] {
    display: block;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
}

button {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}