* {
    box-sizing: border-box;
}

/* Main content */
/* Header layout */
/* .main-content {
    border: 1px solid red;
} */

#main-content {
    justify-content: flex-start;
}

.user-header, .votersTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    background-color: var(--primary-green);
    color: var(--primary-white);
    position: sticky;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
}

a {
    color: var(--primary-white);
    text-decoration: none;
}

.user-header .logo,
.user-header>Button {
    padding: 0 20px;
}

/* Tabs styles */
.tab, .votersTab {
    overflow: hidden;
}

/* .user-header is votersheader; nav ir votersTab */
.user-header nav ul, .votersTab ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.user-header nav ul li, .votersTab ul li {
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
}

.user-header nav ul li a, .votersTab ul li a {
    color: var(--primary-white);
    text-decoration: none;
}

.user-header nav ul li:hover, .votersTab ul li:hover {
    background-color: rgb(240, 222, 202);
}

.user-header nav ul li a.active, .votersTab ul li a.active {
    background-color: var(--primary-white);
    color: var(--primary-green);
}

.tabcontent, .votersTabContent {
    display: none;
    
    /* width: 70%; */
    /* min-width: 300px; */
}

.tabcontent:not(:first-child) {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    margin: auto;
    padding: 20px;
}

/* Styling tab content pages */
.tabcontent-wrapper {
    /* border: 1px solid red; */
    margin-top: 30px;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Dashboard tab */
/* #Dashboard {
    border: 2px solid yellow;
} */

/* #Dashboard > div {
    border: 2px solid blue;
} */
/* Add party tab */
#Add-Party {
    text-align: center;
    padding: 20px;
    color: red;
}

#addPartyForm, #partyAddedSuccess {
    margin-top: 20px;
}

input[type="text"], input[type="file"] {
    margin: 10px 0;
    display: block;
}

button {
    cursor: pointer;
}
/* Create Election tab */
/* Add Candidates tab */
/* Voters tab */
/* Approve vote tab */
